<div class="prs_title_main_sec_wrapper">
  <div class="prs_title_img_overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="prs_title_heading_wrapper">
          <h2>Trang cá nhân</h2>
          <ul>
            <li><a href="/">Trang chủ</a>
            </li>
            <li>&nbsp;&nbsp; >&nbsp;&nbsp;<a href="/account/profile">Thông tin cá nhân</a>
            </li>
            <li>&nbsp;&nbsp; >&nbsp;&nbsp; Đổi mật khẩu</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="prs_es_faq_main_wrapper">
  <div class="container">
    <div class="row">
      <!-- <div class="col-lg-5 col-md-5 col-ms-12 col-xs-12"> -->
      <div class="col-md-6 col-md-offset-3">
        <div class="prs_es_faq_left_wrapper">
          <h2>Đổi mật khẩu</h2>
          <form action="" method="post">
            <p style="padding-top: 25px;color: #FFFFFF;"><%= message[0] %></p>
            <input type="password" placeholder="Mật khẩu hiện tại" name="curentPassword" class="first_input" required>
            <input type="password" placeholder="Mật khẩu mới" name="newPassword" required>
            <input type="password" placeholder="Nhập lại mật khẩu mới" name="rePassword" required>
            <button type="submit" class="btn-profile">Đổi mật khẩu</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>