<!DOCTYPE html>
<!-- 
Template Name: Movie Pro
Version: 1.0.0
Author: Webstrot

-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zxx">
<!--[endif]-->

<head>
	<meta charset="utf-8" />
	<title>Movie Pro Responsive HTML Template</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta name="description" content="Movie Pro" />
	<meta name="keywords" content="Movie Pro" />
	<meta name="author" content="" />
	<meta name="MobileOptimized" content="320" />
	<!--Template style -->
	<link rel="stylesheet" type="text/css" href="/public/css/animate.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<!-- <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css" /> -->
	<link rel="stylesheet" type="text/css" href="/public/css/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/fonts.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/flaticon.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/owl.carousel.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/owl.theme.default.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/dl-menu.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/nice-select.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/magnific-popup.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/venobox.css" />
	<link rel="stylesheet" type="text/css" href="/public/js/plugin/rs_slider/layers.css" />
	<link rel="stylesheet" type="text/css" href="/public/js/plugin/rs_slider/navigation.css" />
	<link rel="stylesheet" type="text/css" href="/public/js/plugin/rs_slider/settings.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/seat.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/responsive.css" />
  <link rel="stylesheet" type="text/css" href="/public/css/dev.css" />

	<link rel="stylesheet" id="theme-color" type="text/css" href="#"/>
	<!-- favicon links -->
	<link rel="shortcut icon" type="image/png" href="/public/images/header/favicon.ico" />
</head>

<body>
	<!-- preloader Start -->
	<div id="preloader">
		<div id="status">
			<img src="/public/images/header/horoscope.gif" id="preloader_image" alt="loader">
		</div>
	</div>
	<!-- color picker start -->
	<!-- st top header Start -->
	<div class="st_bt_top_header_wrapper float_left">
		<div class="container container_seat">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="st_bt_top_back_btn st_bt_top_back_btn_seatl float_left">	<a href="movie_booking.html"><i class="fas fa-long-arrow-alt-left"></i> &nbsp;Back</a>
					</div>
					<!-- <div class="cc_ps_quantily_info cc_ps_quantily_info_tecket">
						<p>Select Ticket</p>
											<div class="select_number">
												<button onclick="changeQty(1); return false;" class="increase"><i class="fa fa-plus"></i>
												</button>
												<input type="text" name="quantity" value="1" size="2" id="input-quantity" class="form-control" />
												<button onclick="changeQty(0); return false;" class="decrease"><i class="fa fa-minus"></i>
												</button>
											</div>
											<input type="hidden" name="product_id" />
										</div> -->
					</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="st_bt_top_center_heading st_bt_top_center_heading_seat_book_page float_left">
						<h3>Aquaman - English - (2:47)</h3>
						<h4>Today, 19 Dec, 10:00 PM</h4>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="st_bt_top_close_btn st_bt_top_close_btn2 float_left">	<a href="#"><i class="fa fa-times"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- st top header Start -->
	<!-- st seat Layout Start -->
	<div class="st_seatlayout_main_wrapper float_left">
		<div class="container container_seat">
			<div class="st_seat_lay_heading float_left">
				<h3>screen</h3>
			</div>
			<div class="st_seat_full_container">
				<div class="st_seat_lay_economy_wrapper float_left">
					<div class="screen">
						<img src="/public/images/content/screen.png">
					</div>
				</div>
				<div class="st_seat_lay_economy_wrapper st_seat_lay_economy_wrapperexicutive float_left">
					<div class="st_seat_lay_row float_left d-flex justify-content-center">
						<ul>
							<!-- <li class="st_seat_heading_row">A</li> -->
							<li>	
								<input type="checkbox" id="a1" name="cb">
								<label for="a1"></label>
							</li>
							<li>	
								<input type="checkbox" id="a2" name="cb" placeholder="1">
								<label for="a2"></label>
							</li>
							<li class="seat_disable">
								<input type="checkbox" id="a3" name="cb">
								<label for="a3"></label>
							</li>
							<li>	
								<input type="checkbox" id="a4" name="cb">
								<label for="a4"></label>
							</li>
							<li>	
								<input type="checkbox" id="a5" name="cb">
								<label for="a5"></label>
							</li>
							<li>	
								<input type="checkbox" id="a6" name="cb">
								<label for="a6"></label>
							</li>
							<li>	
								<input type="checkbox" id="a7" name="cb">
								<label for="a7"></label>
							</li>
							<li>	
								<input type="checkbox" id="a8" name="cb">
								<label for="a8"></label>
							</li>
							<li>	
								<input type="checkbox" id="a9" name="cb">
								<label for="a9"></label>
							</li>
							<li>	
								<input type="checkbox" id="a10" name="cb">
								<label for="a10"></label>
							</li>
              <li>	
								<input type="checkbox" id="a11" name="cb">
								<label for="a11"></label>
							</li>
              <li>	
								<input type="checkbox" id="a12" name="cb">
								<label for="a12"></label>
							</li>
              <li>	
								<input type="checkbox" id="a13" name="cb">
								<label for="a13"></label>
							</li>
              <li>	
								<input type="checkbox" id="a14" name="cb">
								<label for="a14"></label>
							</li>
              <li>	
								<input type="checkbox" id="a15" name="cb">
								<label for="a15"></label>
							</li>
              <li>	
								<input type="checkbox" id="a16" name="cb">
								<label for="a16"></label>
							</li>
              <li>	
								<input type="checkbox" id="a17" name="cb">
								<label for="a17"></label>
							</li>
              <li>	
								<input type="checkbox" id="a18" name="cb">
								<label for="a18"></label>
							</li>
              <li>	
								<input type="checkbox" id="a19" name="cb">
								<label for="a19"></label>
							</li>
              <li>	
								<input type="checkbox" id="a20" name="cb">
								<label for="a20"></label>
							</li>
						</ul>
					</div>
          <div class="st_seat_lay_row float_left d-flex justify-content-center">
						<ul>
							<!-- <li class="st_seat_heading_row">A</li> -->
							<li>	
								<input type="checkbox" id="b1" name="cb">
								<label for="b1"></label>
							</li>
							<li>	
								<input type="checkbox" id="b2" name="cb" placeholder="1">
								<label for="b2"></label>
							</li>
							<li class="seat_disable">
								<input type="checkbox" id="b3" name="cb">
								<label for="b3"></label>
							</li>
							<li>	
								<input type="checkbox" id="b4" name="cb">
								<label for="b4"></label>
							</li>
							<li>	
								<input type="checkbox" id="b5" name="cb">
								<label for="b5"></label>
							</li>
							<li>	
								<input type="checkbox" id="b6" name="cb">
								<label for="b6"></label>
							</li>
							<li>	
								<input type="checkbox" id="b7" name="cb">
								<label for="b7"></label>
							</li>
							<li>	
								<input type="checkbox" id="b8" name="cb">
								<label for="b8"></label>
							</li>
							<li>	
								<input type="checkbox" id="b9" name="cb">
								<label for="b9"></label>
							</li>
							<li>	
								<input type="checkbox" id="b10" name="cb">
								<label for="b10"></label>
							</li>
              <li>	
								<input type="checkbox" id="b11" name="cb">
								<label for="b11"></label>
							</li>
              <li>	
								<input type="checkbox" id="b12" name="cb">
								<label for="b12"></label>
							</li>
              <li>	
								<input type="checkbox" id="b13" name="cb">
								<label for="b13"></label>
							</li>
              <li>	
								<input type="checkbox" id="b14" name="cb">
								<label for="b14"></label>
							</li>
              <li>	
								<input type="checkbox" id="b15" name="cb">
								<label for="b15"></label>
							</li>
              <li>	
								<input type="checkbox" id="b16" name="cb">
								<label for="b16"></label>
							</li>
              <li>	
								<input type="checkbox" id="b17" name="cb">
								<label for="b17"></label>
							</li>
              <li>	
								<input type="checkbox" id="b18" name="cb">
								<label for="b18"></label>
							</li>
              <li>	
								<input type="checkbox" id="b19" name="cb">
								<label for="b19"></label>
							</li>
              <li>	
								<input type="checkbox" id="b20" name="cb">
								<label for="b20"></label>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- st seat Layout End -->
  <div class="st_bt_top_header_wrapper float_left">
		<div class="container container_seat">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="st_bt_top_center_heading st_bt_top_center_heading_seat_book_page float_left footer-seat">
						<h3>Phim: Mất biếc</h3>
            <h4>Thời lượng: 120 phút</h4>
						<h4>Rạp: Touch Vincom Phú nhuận</h4>
            <h4>Phòng chiếu: Cinema 1</h4>
						<h4>Suất chiếu: 19 Dec, 10:00 PM</h4>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="st_bt_top_center_heading st_bt_top_center_heading_seat_book_page float_left footer-seat">
						<h4>Giá vé: 60.000 VNĐ</h4>
            <h4>Số lượng: 2</h4>
						<h4>Tổng tiền: 120.000 VNĐ</h4>
						<h4>Ghế: A4, A6</h4>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="st_seatlay_btn float_left">	<a href="booking_type.html">Tiếp tục</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--main js file start-->
	<script src="/public/js/jquery_min.js"></script>
	<script src="/public/js/modernizr.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
	<script src="/public/js/bootstrap.js"></script>
	<script src="/public/js/owl.carousel.js"></script>
	<script src="/public/js/jquery.dlmenu.js"></script>
	<script src="/public/js/jquery.sticky.js"></script>
	<script src="/public/js/jquery.nice-select.min.js"></script>
	<script src="/public/js/jquery.magnific-popup.js"></script>
	<script src="/public/js/jquery.bxslider.min.js"></script>
	<script src="/public/js/venobox.min.js"></script>
	<script src="/public/js/smothscroll_part1.js"></script>
	<script src="/public/js/smothscroll_part2.js"></script>
	<script src="/public/js/plugin/rs_slider/jquery.themepunch.revolution.min.js"></script>
	<script src="/public/js/plugin/rs_slider/jquery.themepunch.tools.min.js"></script>
	<script src="/public/js/plugin/rs_slider/revolution.addon.snow.min.js"></script>
	<script src="/public/js/plugin/rs_slider/revolution.extension.actions.min.js"></script>
	<script src="/public/js/plugin/rs_slider/revolution.extension.carousel.min.js"></script>
	<script src="/public/js/plugin/rs_slider/revolution.extension.kenburn.min.js"></script>
	<script src="/public/js/plugin/rs_slider/revolution.extension.layeranimation.min.js"></script>
	<script src="/public/js/plugin/rs_slider/revolution.extension.migration.min.js"></script>
	<script src="/public/js/plugin/rs_slider/revolution.extension.navigation.min.js"></script>
	<script src="/public/js/plugin/rs_slider/revolution.extension.parallax.min.js"></script>
	<script src="/public/js/plugin/rs_slider/revolution.extension.slideanims.min.js"></script>
	<script src="/public/js/plugin/rs_slider/revolution.extension.video.min.js"></script>
	<script src="/public/js/custom.js"></script>

	<!--main js file end-->
	<script>
		//* Isotope js
		    // function protfolioIsotope(){
		    //     if ( $('.st_fb_filter_left_box_wrapper').length ){ 
		    //         // Activate isotope in container
		    //         $(".protfoli_inner, .portfoli_inner").imagesLoaded( function() {
		    //             $(".protfoli_inner, .portfoli_inner").isotope({
		    //                 layoutMode: 'masonry',  
		    //             }); 
		    //         });  
		            
		    //         // Add isotope click function 
		    //         $(".protfoli_filter li").on('click',function(){
		    //             $(".protfoli_filter li").removeClass("active");
		    //             $(this).addClass("active"); 
		    //             var selector = $(this).attr("data-filter");
		    //             $(".protfoli_inner, .portfoli_inner").isotope({
		    //                 filter: selector,
		    //                 animationOptions: {
		    //                     duration: 450,
		    //                     easing: "linear",
		    //                     queue: false,
		    //                 }
		    //             });
		    //             return false;
		    //         });  
		    //     };
		    // }; 
		//  protfolioIsotope (); 
		 
		  // function changeQty(increase) {
			// 	            var qty = parseInt($('.select_number').find("input").val());
			// 	            if (!isNaN(qty)) {
			// 	                qty = increase ? qty + 1 : (qty > 1 ? qty - 1 : 1);
			// 	                $('.select_number').find("input").val(qty);
			// 	            } else {
			// 	                $('.select_number').find("input").val(1);
			// 	            }
			// 	        }
	</script>
</body>

</html>