
<div class="container">
  <div class="screen-dev">
    <div class="st_dtts_ineer_box float_left item-center verify-info">
      <p class="text-center">Xác thực tài khoản thành công</p>
      <div class="st_form_pop_login_btn float_left">
        <a href="/signin">ĐI ĐẾN ĐĂNG NHẬP</a>
      </div>
    </div>
  </div>
</div>