.st_seat_lay_row #g1[type="checkbox"] + label:before {
  content: "j1";
}
.st_seat_lay_row #g2[type="checkbox"] + label:before {
  content: "j2";
}
.st_seat_lay_row #g3[type="checkbox"] + label:before {
  content: "j3";
}
.st_seat_lay_row #g4[type="checkbox"] + label:before {
  content: "j4";
}
.st_seat_lay_row #g5[type="checkbox"] + label:before {
  content: "j5";
}
.st_seat_lay_row #g6[type="checkbox"] + label:before {
  content: "j6";
}
.st_seat_lay_row #g7[type="checkbox"] + label:before {
  content: "j7";
}
.st_seat_lay_row #g8[type="checkbox"] + label:before {
  content: "j8";
}
.st_seat_lay_row #g9[type="checkbox"] + label:before {
  content: "j9";
}
.st_seat_lay_row #g10[type="checkbox"] + label:before {
  content: "j10";
}
.st_seat_lay_row #g11[type="checkbox"] + label:before {
  content: "j11";
}
.st_seat_lay_row #g12[type="checkbox"] + label:before {
  content: "j12";
}
.st_seat_lay_row #g13[type="checkbox"] + label:before {
  content: "j13";
}
.st_seat_lay_row #g14[type="checkbox"] + label:before {
  content: "j14";
}
.st_seat_lay_row #g15[type="checkbox"] + label:before {
  content: "j15";
}
.st_seat_lay_row #g16[type="checkbox"] + label:before {
  content: "j16";
}
.st_seat_lay_row #g17[type="checkbox"] + label:before {
  content: "j17";
}
.st_seat_lay_row #g18[type="checkbox"] + label:before {
  content: "j18";
}
.st_seat_lay_row #g19[type="checkbox"] + label:before {
  content: "j19";
}
.st_seat_lay_row #g20[type="checkbox"] + label:before {
  content: "j20";
}
