<!doctype html>
<!--
* Tabler - Premium and Open Source dashboard template with responsive and high quality UI.
* @version 1.0.0-beta3
* @link https://tabler.io
* Copyright 2018-2021 The Tabler Authors
* Copyright 2018-2021 codecalm.net Paweł Kuna
* Licensed under MIT (https://github.com/tabler/tabler/blob/master/LICENSE)
-->
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Sign in</title>
    <!-- CSS files -->
    <link href="/public/admin/asset/css/tabler.min.css" rel="stylesheet"/>
    <link href="/public/admin/asset/css/tabler-flags.min.css" rel="stylesheet"/>
    <link href="/public/admin/asset/css/tabler-payments.min.css" rel="stylesheet"/>
    <link href="/public/admin/asset/css/tabler-vendors.min.css" rel="stylesheet"/>
    <link href="/public/admin/asset/css/demo.min.css" rel="stylesheet"/>
  </head>
  <body class="antialiased border-top-wide border-primary d-flex flex-column">
    <div class="page page-center">
      <div class="container-tight py-4">
        <div class="text-center mb-4">
          <a href="."><img src="/public/admin/static/logo.svg" height="36" alt=""></a>
        </div>
        <form class="card card-md" action="/admin/signin" method="POST" autocomplete="off">
          <div class="card-body">
            <% if(message[0]) { %>
              <div class="alert alert-danger" role="alert">
                <h4 class="alert-title">Oops&hellip;</h4>
                <div class="text-muted"><%= message[0] %></div>
              </div>
            <% } %>
            <h2 class="card-title text-center mb-4">Đăng nhập quản lý Admin</h2>
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input type="email" class="form-control" name="email" placeholder="Nhập email" required />
            </div>
            <div class="mb-2">
              <label class="form-label">Mật khẩu</label>
              <input type="password" class="form-control" name="password" placeholder="Nhập mật khẩu"  autocomplete="off" required />
            </div>
            <div class="form-footer">
              <button type="submit" class="btn btn-primary w-100">Sign in</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="/public/admin/asset/js/tabler.min.js"></script>
  </body>
</html>