<div class="container">
  <div class="row">
    <div class="screen-dev">
      <div class="col-md-4 col-md-offset-4 login-margin-dev">
        <form action="/signin/forgot" method="post" id="forgot">
          <div class="st_pop_form_heading_wrapper st_pop_form_heading_wrapper_fpass float_left">
            <p style="color: #ff4444"><%= message[0] %></p>
            <h3>Quên mật khẩu</h3>
            <p>Chúng tôi có thể giúp! Tất cả những gì bạn cần làm là nhập email của bạn và làm theo hướng dẫn!</p>
          </div>
          <div class="st_profile_input float_left">
            <label>Email</label>
            <input type="email" name="email" required>
          </div>
          <div class="st_form_pop_login_btn float_left">
            <button type="submit">XÁC NHẬN</button>
          </div>
        </form>       
      </div>  
    </div>
  </div>
</div>
<%- contentFor('titlePage') %>
  Quên mật khẩu
<%- contentFor() %>
<script>
  $("#forgot").on("submit", function() {
    $("#preloader").css('display', 'block');
    $("#status").css('display', 'block');
  });
</script>
