	<!-- prs video top Start -->
	<div class="prs_top_video_section_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="st_video_slider_inner_wrapper float_left">
						<div class="st_video_slider_overlay"></div>
						<div class="st_video_slide_sec float_left">
							<a rel='external' href='https://www.youtube.com/embed/ryzOXAO0Ss0' title='title' class="test-popup-link">
								<img src="/public/images/index_III/icon.png" alt="img">
							</a>
							<h3>Aquaman</h3>
							<p>ENGLISH, HINDI, TAMIL</p>
							<h4>ACTION | Adventure | Fantasy</h4>
							<h5><span>2d</span> <span>3d</span> <span>D 4DX</span> <span>Imax 3D</span></h5>
						</div>
						<div class="st_video_slide_social float_left">
						<div class="st_slider_rating_btn_heart st_slider_rating_btn_heart_5th">
								<h5><i class="fa fa-heart"></i> 85%</h5>
								<h4>52,291 votes</h4>
							</div>
							<div class="st_video_slide_social_left float_left">
								<ul>
									<li><a href="#"><i class="fa fa-facebook-f"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-twitter"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-youtube"></i></a>
									</li>
								</ul>
							</div>
							<div class="st_video_slide_social_right float_left">
								<ul>
									<li data-animation="animated fadeInUp" class=""><i class="far fa-calendar-alt"></i> 14 Dec, 2018</li>
									<li data-animation="animated fadeInUp" class=""><i class="far fa-clock"></i> 2 hrs 23 mins</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- prs video top End -->
	<!-- st slider rating wrapper Start -->
	<div class="st_slider_rating_main_wrapper float_left">
		<div class="container">
			<div class="st_slider_rating_left">
				<div class="st_rating_box">
					<fieldset class="rating">
					<h3>3</h3>
						<input type="radio" name="rating" value="5" />
						<label class="full" title="5 stars"></label>
						<input type="radio" name="rating" value="4 and a half" />
						<label class="half" title="4.5 stars"></label>
						<input type="radio" name="rating" value="4" />
						<label class="full" title="4 stars"></label>
						<input type="radio" name="rating" value="3 and a half" />
						<label class="half" title="3.5 stars"></label>
						<input type="radio" name="rating" value="3" />
						<label class="full" title="3 stars"></label>
						<input type="radio" name="rating" value="2 and a half" />
						<label class="half" title="2.5 stars"></label>
						<input type="radio" name="rating" value="2" />
						<label class="full" title="2 stars"></label>
						<input type="radio" name="rating" value="1 and a half" />
						<label class="half" title="1.5 stars"></label>
						<input type="radio" name="rating" value="1" />
						<label class="full" title="1 star"></label>
						<input type="radio" name="rating" value="half" />
						<label class="half" title="0.5 stars"></label>
												</fieldset>
					<h4>CRITICS RATING</h4>
				</div>
				<div class="st_rating_box st_rating_box2">
					<fieldset class="rating">
					<h3>4.5&nbsp;&nbsp;</h3>
						<input type="radio" name="rating" value="5" />
						<label class="full" title="5 stars"></label>
						<input type="radio" name="rating" value="4 and a half" />
						<label class="half" title="4.5 stars"></label>
						<input type="radio" name="rating" value="4" />
						<label class="full" title="4 stars"></label>
						<input type="radio" name="rating" value="3 and a half" />
						<label class="half" title="3.5 stars"></label>
						<input type="radio" name="rating" value="3" />
						<label class="full" title="3 stars"></label>
						<input type="radio" name="rating" value="2 and a half" />
						<label class="half" title="2.5 stars"></label>
						<input type="radio" name="rating" value="2" />
						<label class="full" title="2 stars"></label>
						<input type="radio" name="rating" value="1 and a half" />
						<label class="half" title="1.5 stars"></label>
						<input type="radio" name="rating" value="1" />
						<label class="full" title="1 star"></label>
						<input type="radio" name="rating" value="half" />
						<label class="half" title="0.5 stars"></label>
												</fieldset>
					<h4>USERS RATING</h4>
				</div>
				<div class="st_rating_box st_rating_box2">
					<fieldset class="rating">
					<h3>0&nbsp;&nbsp;</h3>
						<input type="radio" name="rating" value="5" />
						<label class="full" title="5 stars"></label>
						<input type="radio" name="rating" value="4 and a half" />
						<label class="half" title="4.5 stars"></label>
						<input type="radio" name="rating" value="4" />
						<label class="full" title="4 stars"></label>
						<input type="radio" name="rating" value="3 and a half" />
						<label class="half" title="3.5 stars"></label>
						<input type="radio" name="rating" value="3" />
						<label class="full" title="3 stars"></label>
						<input type="radio" name="rating" value="2 and a half" />
						<label class="half" title="2.5 stars"></label>
						<input type="radio" name="rating" value="2" />
						<label class="full" title="2 stars"></label>
						<input type="radio" name="rating" value="1 and a half" />
						<label class="half" title="1.5 stars"></label>
						<input type="radio" name="rating" value="1" />
						<label class="full" title="1 star"></label>
						<input type="radio" name="rating" value="half" />
						<label class="half" title="0.5 stars"></label>
												</fieldset>
					<h4>RATE IT</h4>
				</div>
			</div>
			<div class="st_slider_rating_right">
				<div class="st_slider_rating_btn prs_animate_btn1">
					<ul>
						<li data-animation="animated fadeInUp"><a href="#" class="button button--tamaya prs_upcom_main_btn" data-text="book now"><span>book now</span></a>
										</li>
					</ul>
				</div>
				<div class="st_slider_rating_btn_heart">
					<h5><i class="fa fa-heart"></i> 85%</h5>
					<h4>52,291 votes</h4>
				</div>
			</div>
		</div>
	</div>
	<!-- st slider rating wrapper End -->
  	<!-- prs syn Slider Start -->
	<div class="prs_syn_main_section_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
					<div class="prs_syn_cont_wrapper">
						<h3>Chi tiết</h3>
						<h4><span>Genre -</span> Action , Reality , Drama, Raching</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore a aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo const. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur at cupidatat non proident, sunt in culpa qui officia deserunt
							<br>
							<br>error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inveiere veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit ur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
							<br>
							<br>consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam sam quaerat voluptatem.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut ipii eex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="prs_syn_img_wrapper">
						<img src="/public/images/content/movie_single/v1.jpg" alt="syn_img">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- prs syn Slider End -->
	<!-- prs videos&photos slider Start -->
	<div class="prs_vp_main_section_wrapper prs_about_vp_main_section_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="prs_heading_section_wrapper">
						<h2>Video & photos</h2>
					</div>
				</div>
				<div class="prs_vp_main_slider_wrapper">
					<div class="prs_vp_left_slidebar_wrapper">
						<div class="wrap-album-slider">
							<ul class="prs_vp_left_slider">
								<li class="album-slider__item prs_vp_hover_overlay">
									<figure class="album">
										<div class="prs_vp_img_overlay">
											<img src="/public/images/content/vp1.jpg" alt="vp_img">	<a href="/public/images/content/vp1.jpg" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
										</div>
									</figure>
									<!-- End album -->
								</li>
								<li class="album-slider__item prs_vp_hover_overlay">
									<figure class="album">
										<div class="prs_vp_img_overlay">
											<img src="/public/images/content/vp2.jpg" alt="vp_img">	<a href="/public/images/content/vp2.jpg" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
										</div>
									</figure>
									<!-- End album -->
								</li>
								<li class="album-slider__item prs_vp_hover_overlay">
									<figure class="album">
										<div class="prs_vp_img_overlay">
											<img src="/public/images/content/vp3.jpg" alt="vp_img">	<a href="/public/images/content/vp3.jpg" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
										</div>
									</figure>
									<!-- End album -->
								</li>
								<li class="album-slider__item prs_vp_hover_overlay">
									<figure class="album">
										<div class="prs_vp_img_overlay">
											<img src="/public/images/content/vp4.jpg" alt="vp_img">	<a href="/public/images/content/vp4.jpg" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
										</div>
									</figure>
									<!-- End album -->
								</li>
								<li class="album-slider__item prs_vp_hover_overlay">
									<figure class="album">
										<div class="prs_vp_img_overlay">
											<img src="/public/images/content/vp5.jpg" alt="vp_img">	<a href="/public/images/content/vp5.jpg" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
										</div>
									</figure>
									<!-- End album -->
								</li>
								<li class="album-slider__item prs_vp_hover_overlay">
									<figure class="album">
										<div class="prs_vp_img_overlay">
											<img src="/public/images/content/vp6.jpg" alt="vp_img">	<a href="/public/images/content/vp6.jpg" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
										</div>
									</figure>
									<!-- End album -->
								</li>
							</ul>
						</div>
					</div>
					<div class="prs_vp_center_slidebar_wrapper">
						<div class="prs_vp_center_slider">
							<div class="owl-carousel owl-theme">
								<div class="item">
									<div class="prs_vp_center_slider_img_wrapper">
										<img src="/public/images/content/vp7.jpg" alt="vp_img">
									</div>
								</div>
								<div class="item">
									<div class="prs_vp_center_slider_img_wrapper">
										<img src="/public/images/content/vp7.jpg" alt="vp_img">
									</div>
								</div>
								<div class="item">
									<div class="prs_vp_center_slider_img_wrapper">
										<img src="/public/images/content/vp7.jpg" alt="vp_img">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="prs_vp_right_slidebar_wrapper">
						<div class="wrap-album-slider">
							<ul class="prs_vp_right_slider">
								<li class="album-slider__item prs_vp_hover_overlay">
									<figure class="album">
										<div class="prs_vp_img_overlay">
											<img src="/public/images/content/vp6.jpg" alt="vp_img">	<a href="/public/images/content/vp6.jpg" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
										</div>
									</figure>
									<!-- End album -->
								</li>
								<li class="album-slider__item prs_vp_hover_overlay">
									<figure class="album">
										<div class="prs_vp_img_overlay">
											<img src="/public/images/content/vp5.jpg" alt="vp_img">	<a href="/public/images/content/vp5.jpg" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
										</div>
									</figure>
									<!-- End album -->
								</li>
								<li class="album-slider__item prs_vp_hover_overlay">
									<figure class="album">
										<div class="prs_vp_img_overlay">
											<img src="/public/images/content/vp4.jpg" alt="vp_img">	<a href="/public/images/content/vp4.jpg" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
										</div>
									</figure>
									<!-- End album -->
								</li>
								<li class="album-slider__item prs_vp_hover_overlay">
									<figure class="album">
										<div class="prs_vp_img_overlay">
											<img src="/public/images/content/vp3.jpg" alt="vp_img">	<a href="/public/images/content/vp3.jpg" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
										</div>
									</figure>
									<!-- End album -->
								</li>
								<li class="album-slider__item prs_vp_hover_overlay">
									<figure class="album">
										<div class="prs_vp_img_overlay">
											<img src="/public/images/content/vp2.jpg" alt="vp_img">	<a href="/public/images/content/vp2.jpg" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
										</div>
									</figure>
									<!-- End album -->
								</li>
								<li class="album-slider__item prs_vp_hover_overlay">
									<figure class="album">
										<div class="prs_vp_img_overlay">
											<img src="/public/images/content/vp1.jpg" alt="vp_img">	<a href="/public/images/content/vp1.jpg" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
										</div>
									</figure>
									<!-- End album -->
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- prs videos&photos slider End -->