<!DOCTYPE html>
<!-- 
Template Name: Movie Pro
Version: 1.0.0
Author: Webstrot

-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zxx">
<!--[endif]-->

<head>
	<meta charset="utf-8" />
	<title>Touch cinema - <%-defineContent('titlePage')%></title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta http-equiv="Content-Type" charset="utf-8"/>
	<meta name="description" content="Movie Pro" />
	<meta name="keywords" content="Movie Pro" />
	<meta name="author" content="" />
	<meta name="MobileOptimized" content="320" />
	<!--Template style -->
	<link rel="stylesheet" type="text/css" href="/public/css/animate.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<!-- <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css" /> -->
	<link rel="stylesheet" type="text/css" href="/public/css/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/fonts.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/flaticon.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/owl.carousel.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/owl.theme.default.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/dl-menu.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/nice-select.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/magnific-popup.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/venobox.css" />
	<link rel="stylesheet" type="text/css" href="/public/js/plugin/rs_slider/layers.css" />
	<link rel="stylesheet" type="text/css" href="/public/js/plugin/rs_slider/navigation.css" />
	<link rel="stylesheet" type="text/css" href="/public/js/plugin/rs_slider/settings.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/seat.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/responsive.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" />

  <link rel="stylesheet" type="text/css" href="/public/css/dev.css" />

	<link rel="stylesheet" id="theme-color" type="text/css" href="#"/>
	<!-- favicon links -->
	<link rel="shortcut icon" type="image/png" href="/public/images/header/favicon.ico" />
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap" rel="stylesheet">
	
	<script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
	<style>
		body {
			font-family: 'Montserrat', sans-serif;
  	}
	</style>
</head>

<body>
	<!-- preloader Start -->
	<div id="preloader">
		<div id="status">
			<img src="/public/images/header/horoscope.gif" id="preloader_image" alt="loader">
		</div>
	</div>
  <%- body %>
	<!--main js file start-->
	<!-- <script src="/public/js/jquery_min.js"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	<script src="/public/js/modernizr.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
	<script src="/public/js/bootstrap.js"></script>
	<script src="/public/js/owl.carousel.js"></script>
	<script src="/public/js/jquery.dlmenu.js"></script>
	<script src="/public/js/jquery.sticky.js"></script>
	<script src="/public/js/jquery.nice-select.min.js"></script>
	<script src="/public/js/jquery.magnific-popup.js"></script>
	<script src="/public/js/jquery.bxslider.min.js"></script>
	<script src="/public/js/venobox.min.js"></script>
	<script src="/public/js/smothscroll_part1.js"></script>
	<script src="/public/js/smothscroll_part2.js"></script>
	<script src="/public/js/plugin/rs_slider/jquery.themepunch.revolution.min.js"></script>
	<script src="/public/js/plugin/rs_slider/jquery.themepunch.tools.min.js"></script>
	<script src="/public/js/plugin/rs_slider/revolution.addon.snow.min.js"></script>
	<script src="/public/js/plugin/rs_slider/revolution.extension.actions.min.js"></script>
	<script src="/public/js/plugin/rs_slider/revolution.extension.carousel.min.js"></script>
	<script src="/public/js/plugin/rs_slider/revolution.extension.kenburn.min.js"></script>
	<script src="/public/js/plugin/rs_slider/revolution.extension.layeranimation.min.js"></script>
	<script src="/public/js/plugin/rs_slider/revolution.extension.migration.min.js"></script>
	<script src="/public/js/plugin/rs_slider/revolution.extension.navigation.min.js"></script>
	<script src="/public/js/plugin/rs_slider/revolution.extension.parallax.min.js"></script>
	<script src="/public/js/plugin/rs_slider/revolution.extension.slideanims.min.js"></script>
	<script src="/public/js/plugin/rs_slider/revolution.extension.video.min.js"></script>
	<script src="/public/js/custom.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>

	<%- script %>

</body>

</html>